* {
    margin: 0;
    padding: 0;
    font-family: "Google Sans", sans-serif;
}

ol, ul {
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #7F1D1D;
    height: 65px;
    align-items: center;
    color: #FFF7E8;
}

.navbar-logo{
    padding-left: 50px;
}

.navbar-logo a{
    text-decoration: none;
    color: #FFFFFF;
}

.navbar-logo h1{
    color: inherit;
}

.navbar-links{
    list-style-type: none;
    display: flex;
    padding-right: 160px;
    gap: 40px;
    font-size: 18px;
}

.navbar-links a{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
}

.navbar-links a:hover{
    text-decoration: underline;
    text-decoration-color: wheat;
}

.home-content{
    min-height: calc(100vh - 65px);
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    color: #292524;
}

.home-text{
    align-content: center;
    padding-left: 90px;
}

.home-text h1{
    padding-bottom: 10px;
    font-size: 40px;
}

.home-text p{
    font-size: 20px;
}

.home-image{
    max-height: calc(100vh - 65px);
}

.home-image img{
    max-height: calc(100vh - 65px);
    width: auto;
}

.home-button{
    border: 2px solid #dbde03;
    margin-top: 10px;
    width: 150px;
    height: 35px;
    cursor: pointer;
    border-radius: 8px;
    background-color: wheat;
    font-size: 16px;
}

.home-button:hover{
    background-color: #def207;
    color: black;
    transition-duration: 0.4s;
}

.shop-content{
    min-height: calc(100vh - 65px);
    background-color: wheat;
}

.shop-header{
    text-align: center;
    padding-top: 40px;
}


.cart-content{
    min-height: calc(100vh - 65px);
    background-color: wheat;
}